
/*gold = #ffcc33*/
/*maroon = #7a0019*/

body {
	font-family: Arial;
	margin: 0;
	font-size: 16px;
}

header {
	padding: 1px;
	text-align: center;
	background: #7a0019;
	color: #ffcc33;
	font-size: 14px;
}

.button {
	width: 19%;
	padding: none;
	background: #7a0019;
	color: #ffcc33;
	font-size: 16px;
	border: none;
}

#tooltip {
	background: black;
	color: white;
	opacity: 0.9;
	border-radius: 5px;
	padding: 5px;
}